.settings-container {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 5px 20px;
    z-index: 1;
    top: -20px;
    height: 50%;
    transition: all 500ms ease-in-out;
}

.settings-container-hidden{
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: 0px solid #ffffff00;
    padding: 0px 20px;
    z-index: 0;
    top: 140px;
    height: 0%;
    transition: all 300ms ease-in-out;
}

.settings-language {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    & div {
        margin: 0px 5px 0px 5px;
    }
}

.settings-server-api-container {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    & div {
        margin: 0px 5px 0px 5px;
    }
}

.settings-tags-container {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-in-out;
    & div {
        margin: 0px 5px 0px 5px;
    }
}

.tags-hidden {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out;
    & div {
        margin: 0px 5px 0px 5px;
    }
}

.settings-blocks-container {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    & div {
        margin: 0px 5px 0px 5px;
    }
}

.settings-app {
    width: 32px;
    height: 32px;
    margin: 0px 10px 30px 10px;
    background-size: 39px 39px; 
    background-image: url("../assets/svg/settings.svg");
}