$bg-color: #EDF2EC;
$highlight-color: #499A18;
$primary-color: #E06733;

$heading-color: #717171;
$text-color: #636060;

$active-selector-color: #C1E698;
$active-price-button: #D6E7D2;
$select-text: #D9D9D9;

$light-color: #FFFFFF;
$dark-color: #000000;


$laptop-big-width: 1024px;
$laptop-small-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 380px;
$mobile-small-width: 320px;